<div class="col-lg-6 col-lg-offset-3">

		<div class="well well-dismissible well-sm">
		
		       <span class="text-danger" id="exchanginput"> </span>&nbsp&nbsp&nbsp今日汇率：<strong class="text-danger"></strong><strong class="text-danger" id="exchangerate"><%= $rate.to_f.round(2) %></strong>元

		    <div class="col-lg-3">
		         <input type="text" class="form-control col-lg-offset-1" placeholder="日元转人民币"  onkeyup="rmbtojpy(this.value)">
		  </div>

		  <div class="col-lg-3">
		      <input type="text" class="form-control col-lg-offset-1" placeholder="人民币转日元"  onkeyup="jpytormb(this.value)">
		  </div>
		
		 
		</div>

		<div class="search-area">
		
		     <div id="lable">
			 	<span class="label label-info">BETA 1.0版</span>
			 </div>

			      <div id="logo"><span class="color-1">iku</span>ra<span class="color-2"></span></div>
			      <h1>日本本土电商价格查询<span>让您更好的海淘！</span></h1>
			
		</div>


        <%= form_tag({action: "search_result"}, method: "get") do %>
        
	        <div class="input-group">
	        	<span class="input-group-addon"><i class="fa x fa-search"></i></span>
				<%= text_field_tag(:search,nil, placeholder:"请输入产品精确型号或产品日文/英文名称！",class:"form-control") %>
				<span class="input-group-btn">
				 <%= submit_tag("搜一搜", class: "btn btn-primary") %>
				</span>
				<iframe id="tmp_downloadhelper_iframe" style="display: none;"></iframe>
	    	</div>
    	<% end %>   

  		
 </div>




