<div class="col-lg-6 col-lg-offset-3">
    <fieldset>
    <legend>设置</legend>
    <div class="bs-component">
    	<%= render 'form' %>
    	<%= link_to '显示', @user %> |
    	<%= link_to '返回', current_user %>

    </div><!-- /example -->
    </fieldset>
</div>