/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *= require_self
 *= require paper/loader
 *= require paper/bootswatch
 *= require application/font-awesome
 *= require nprogress
 *= require nprogress-bootstrap

*/

/*消息框*/

.alert {

    margin:1em auto;
    width: 50%;
  text-align: center;


} 

/*三个logo大小调整*/
.nav > li > a > img {
   width: 50%;
   height: 50%;
}


.mb20 { margin-bottom: 20px; } 

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }


.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }

.search-result .col-md-3#border { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "Roboto",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "Roboto",Arial,Verdana,sans-serif; } 
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }


.search-result img{
    width: 160px;
    height: 120px;
}


/*--汇率 价格
*/
.text-danger {
  font-size: 1.5em;
}



/*----------------------------- 搜索框---------------------------------- *= require application/font-awesome
*/

.search-area{
  padding: 2em 1em 1em 1em;
  letter-spacing: -1px;
  text-align: center;
  
}

.search-area div.content {

  width: 100%;
  height: 100%;
  max-width: none;
  background: rgba(255,255,255,0.5);
  text-align: center;
 

}

.search-area div#logo {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 48pt;
  margin: 0;
  padding: 0;
  color: #1bbb9c;

}

.search-area div#logo span {

  color: #f3c500;

}

.logo {
color: #1bbb9c;
}
.logo span{
color: #f3c500;
}

.search-area div#lable  {
  margin-left: 180px;
  margin-bottom: -30px;
}

.input-group input#search{
  text-align: center;
}

.search-area h1 {
  color: #447a3da;
  font-weight: 600;
  font-size: 2em;
  line-height: 1;
  margin-bottom: 0;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
.search-area h1 span {
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
  display: block;
  font-size: 60%;
  font-weight: 400;
  padding: 0.8em 0 0.5em 0;
  color: #447a3da;
}

/*----------------------------- END OF 搜索框---------------------------------- *= require application/font-awesome
*/

a {
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
}
a:hover {
  color: #00a7c9;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media only screen and (max-width: 768px) {
  .card {
    width: 18rem;
  }
}
.card .panel {
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  padding: 1.5rem 2rem;
  /* position: absolute; */
  background-color: #fff;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}
.card .meta {
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  position: relative;
  text-align: center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  padding: 2rem 4rem;
  border-right: 1px solid transparent;
}
.card .meta picture {
  position: relative;
  display: inline-block;
}
.card .meta img {
  -o-object-fit: cover;
     object-fit: cover;
}
.card .meta .avatar {
  border-radius: 50%;
}
.card .meta .company-logo {
  position: absolute;
  bottom: -0.5rem;
  right: 0;
}
.card .meta .name {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  font-weight: 300;
}
.card .meta .title {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 1rem 0 0;
}
@media only screen and (min-width: 768px) {
  .card .info {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    top: 0;
    left: 0;
    z-index: 0;
    position: absolute;
  }
}
.card .info dt {
  margin: 0;
  padding: 1rem 0;
}
.card .info dt:first-child {
  padding-top: 0;
}
.card .info dt:after {
  width: 100%;
  background-color: #e0e0e0;
  height: 0.5rem;
  content: "";
  display: block;
}
.card .info dd {
  width: 100%;
  height: 0.5rem;
  position: relative;
  right: 0;
  margin: -1.5rem 0 0;
  /* background-color: nth($colors, 1); */
  overflow: hidden;
  text-indent: -1000px;
}
.card .info dd:nth-child(2) {
  background-color: #E89B35;
}
.card .info dd:nth-child(4) {
  background-color: #36CBE9;
}
.card .info dd:nth-child(6) {
  background-color: #A137E7;
}
.card .info dd:nth-child(8) {
  background-color: #E83568;
}
.card .social {
  list-style: none;
  margin: 0;
  text-align: center;
}
.card .social li {
  display: inline-block;
}
.card .social li a {
  display: block;
  overflow: hidden;
  text-indent: -1000px;
  height: 1em;
  font-size: 1.8rem;
  padding: 0.1em;
  margin: 0 0.1em;
}
.card .social li a:before {
  display: block;
  text-indent: 0;
  font-size: 1em;
}
@media only screen and (min-width: 768px) {
  .card:hover .meta {
    -webkit-transform: translateX(-69.5%);
            transform: translateX(-69.5%);
    border-color: #00a7c9;
  }
  .card:hover .info {
    -webkit-transform: translateX(20%);
            transform: translateX(20%);
    width: 150%;
  }
}

/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/



/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/
*{ margin: 0; padding: 0;}





#clouds{
  padding: 100px 0;
  background: #c9dbe9;
  background: -webkit-linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -linear-gradient(top, #c9dbe9 0%, #fff 100%);
  background: -moz-linear-gradient(top, #c9dbe9 0%, #fff 100%);

}

/*Time to finalise the cloud shape*/
.cloud {
  width: 200px; height: 60px;
  background: #fff;
  
  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  
  position: relative; 
}

.cloud:before, .cloud:after {
  content: '';
  position: absolute; 
  background: #fff;
  width: 100px; height: 80px;
  position: absolute; top: -15px; left: 10px;
  
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}

.cloud:after {
  width: 120px; height: 120px;
  top: -55px; left: auto; right: 15px;
}

/*Time to animate*/
.x1 {
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left: 200px;
  
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6; /*opacity proportional to the size*/
  
  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

.x3 {
  left: -250px; top: -200px;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

.x4 {
  left: 470px; top: -250px;
  
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18 linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}

.x5 {
  left: -150px; top: -150px;
  
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/
  
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
  0% {margin-left: 1000px;}
  100% {margin-left: -1000px;}
}

/*portfolio*/

.box > .icon { text-align: center; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 88px; height: 88px; border: 8px solid white; line-height: 88px; border-radius: 50%; background: #4466e4; vertical-align: middle; }
.box > .icon:hover > .image { background: #333; }
.box > .icon > .image > i { font-size: 36px !important; color: #fff !important; }
.box > .icon:hover > .image > i { color: white !important; }
.box > .icon > .info { margin-top: -24px; background: rgba(0, 0, 0, 0.04); border: 1px solid #e0e0e0; padding: 15px 0 10px 0; }
.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }
.box > .icon > .info > h3.title { font-family: "Roboto",sans-serif !important; font-size: 16px; color: #222; font-weight: 500; }
.box > .icon > .info > p { font-family: "Roboto",sans-serif !important; font-size: 13px; color: #666; line-height: 1.5em; margin: 20px;}
.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }
.box > .icon > .info > .more a { font-family: "Roboto",sans-serif !important; font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #4466e4; }
.box .space { height: 30px; }


/*product list*/

body {
    margin-top: 1rem;
}
.filtr-item {
    padding: 1rem;
}
.item-desc {
    background-color: rgba(0,0,0,0.5);
    color: white;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

/* Filter controls */
.simplefilter li, .multifilter li, .sortandshuffle li {
    color: white;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2rem;
}
.simplefilter li {
    background-color: #585858;
}
.simplefilter li.active {
    background-color: #212121;
}
.multifilter li {
    background-color: #4b9eff;
}
.multifilter li.active {
    background-color: #2265b4;
}

/* Shuffle and sort controls */
select {
    padding: 1rem 1rem;
    text-transform: uppercase;
}
.sortandshuffle .shuffle-btn {
    background-color: #dec800;
}
.sortandshuffle .sort-btn {
    background-color: #de0000;
}
.sortandshuffle .sort-btn.active {
    background-color: #9d0000;
}

/* Search control */
.search-row {
    margin-left: 2.5rem;
}
.filtr-search {
    padding: 0.5rem;
    text-transform: uppercase;
}




